
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1530756162621'); /* IE9*/
  src: url('iconfont.eot?t=1530756162621#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf?t=1530756162621') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1530756162621#iconfont') format('svg'); /* iOS 4.1- */
}

.icon  {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e6ac"; }

.icon-xiaoxi:before { content: "\e68b"; }

.icon-wode:before { content: "\e69e"; }

.icon-shouye:before { content: "\e635"; }

.icon-shouye1:before { content: "\e629"; }

.icon-menu:before { content: "\e684"; }

.icon-iconfontcart:before { content: "\e614"; }

.icon-saoyisao:before { content: "\e7bb"; }

.icon-zuo-copy:before { content: "\e638"; }

